.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqText {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 24px 0;
}

.accordionWrapper {
  width: 50%;
}
.accordionPointHeader {
  font-size: 18px;
  font-weight: bold;
}
